.form-input {
    display: flex;
    flex-direction: column;

    text-align: left;
    font-size: 1.1em;

    gap: .6rem;
    margin: 1rem 0;
}

.form-input input,
.form-input textarea {
    padding: 5px;
    font-size: 1rem;
}